@media (max-width: 991px) {
    .promo {
        &__wrapper {
            button {
                width: 425px;
            }
        }  
    }
    .consultation {
        .button {
            &_submit {
                width: 350px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__contacts {
            button {
                display: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .promo {
        button {
                height: 40px;
                width: 300px;
        }
    }
}