@media (max-width: 1200px) {
    .carousel {
        .next {
            right: 4%;
            left: auto;
        }
        .prev {
            left: 4%;
            right: auto;
        }
    }
}
@media (max-width: 991px) {
    
}

@media (max-width: 575px) {
    
}